<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="col-2">
    <div class="form-container">
        <div class="form-btn">
            <span onclick="register()">create Product</span>
            <hr id="Indicator">
        </div>
        <form  action="/create" method="post" th:object="${product}" enctype="multipart/form-data">
            <p><input th:field="*{id}" placeholder="id"> </p> <br>
            <p><input th:field="*{name}" placeholder="name"></p><br>
            <p><input th:field="*{price}" placeholder="price"></p><br>
            <p>
                <select th:field="${product.categories.name}">
                    <option value="sinshedo">sinshedo</option>
                    <option value="jav grop">jav grop</option>
                    <option value="DHC">DHC</option>
            </select>
            </p>
            <p><input name="uppImg" type="file">
                <button type="submit" class="btn">Register</button></p>
        </form>

    </div>
</div>

</body>
</html>
