<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1></h1>
<table border="1">
    <td><button class="bubble-legend-symbol"><a href="/create">Create</a></button></td>
    <div th:each="p,loop : ${products}">
        <tr>
            <td th:text="${loop.count}"></td>
            <td th:text="${p.name}"></td>
            <td><img th:src="${p.img}" width="200" height="150"></td>
            <td><button><a th:href="@{/edit(index=${loop.index})}">edit</a></button></td>
            <td><button><a th:href="@{/delete(index=${loop.index})}">delete</a></button></td>
        </tr>
    </div>


</table>
</body>
</html>